<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page </title>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style-with-prefix.css}" type="text/css">
    <style>
        .srouce{
            text-align: center;
            color: #ffffff;
            padding: 10px;
        }
    </style>
</head>
<body>

<div class="main-container">
    <div class="form-container">
        <div class="form-body">
            <h2 class="title">Log in with</h2>
            <div class="social-login">
                <ul>
                    <li class="google"><a th:href="@{/oauth2/authorization/google}">Google</a></li>
                    <li class="fb"><a th:href="@{/oauth2/authorization/facebook}">Facebook</a></li>
                </ul>
            </div><!-- SOCIAL LOGIN -->
        </div><!-- FORM BODY-->
    <p th:text="${authen}"></p>
    </div><!-- FORM CONTAINER -->
</div>

</body>
</html>